# If you're going to use Vercel, use their
# UI to add environmental variables. This
# file is unnecessary!

# Spotify Application
SPOTIFY_CLIENT_ID=application_id
SPOTIFY_CLIENT_SECRET=application_secret

# Spotify User
SPOTIFY_REFRESH_TOKEN=your_refresh_token

# Security
STATE=random